/24162008_PhamHongAnhLAB_KALI_LINUX.pdf
/24162008_PhamHongAnh_Lab 2. Buffer Overflow.pdf
/24162008_Week01_Tasks01.docx
/24162008_Week01_Tasks02.docx
/24162008_Week01_Tasks03.docx
/24162008_Week01_Tasks04.docx
/24162008_Week01_Tasks05.docx
/24162008_Week02_Tasks01.docx
/24162008_Week02_Tasks02.docx
/24162008_Week02_Tasks03.docx
/24162008_Week02_Tasks04.docx
/24162008_Week02_Tasks05.docx
/24162008_Week02_Tasks06.docx
/ChaoticSrreamcipher.py
/detest.jpg
/detest.txt
/detest1.txt
/entest.jpg
/entest.txt
/HackSubstitutionCipherPigPen.py
/hashcat-7.1.2
/Project1
/Projects
/test.jpg
/test.txt
/week01_mono.py
/Week01_monoalphabetic_ciphers_guides.md
/week02
/week03_code
/~$162008_Week02_Tasks05.docx